
body {
    width: 100vw;
    height: 100vh;
}

th {
    padding: 1rem;
}

td {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: red;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
  }


.btn-submit {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px;
}


.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-top: 60px;
    font-weight: bolder;
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.form-group {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead {
    background-color: #1F1B24;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: thin solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: thin solid #1F1B24;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}